// output: ../../app/templates/base.htm
doctype strict
html
  head
    link(rel="icon" href="{{ url_for('static', filename='favicon.ico') }}")
    title Vidya Map
    link(rel="stylesheet", type="text/css", href="//code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css")
    link(rel="stylesheet", type="text/css", href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    | {% block head %}
    | {% endblock %}
  body
    | {% block body %}
    | {% endblock %}
    script(src="//code.jquery.com/jquery-3.3.1.min.js")
    | {% block script %}
    | {% endblock %}
