body
  background-color: #222222
  width: 100%
  height: 100%
  overflow: hidden
.toolbar
  display: flex
  flex-flow: row nowrap
  justify-content: center
  width: 100%
  @media (max-height: 520px)
    height: 28px
  height: 5vh
  background: #ffffff
.content
  position: absolute
  display: grid
  justify-content: center
  grid-template-columns: calc(25% - 4px - 0.5vw) calc(75% - 4px - 0.5vw)
  height: calc(100% - 5vh - 5px)
  @media (max-height: 520px)
      height: calc(100% - 28px - 5px)
  width: 100vw
  grid-gap: 10px
.map
  max-width: calc(75% - 4px - 0.5vw)
  position: relative
  margin: 0 auto
.content > *
  border-style: solid
  border-width: 2px
  border-color: yellow
  color: white
  overflow: auto
.marker
  position: absolute
  width: 48px
  height: 48px

  border-radius: 50%
  border-style: solid
  border-width: 4px
  border-color: #383838
  background: #8d8d8d

  cursor: grabbing
.marker-shadow
  @extend .marker

  opacity: 0.3
  filter: alpha(opacity=30)
