{% extends "base.htm" %}

{% block content %}
<h3 id="title"><p class="text-center">Vidya Map</p></h3>
<div class="container">
  <div class="row">
    <div class="col-9">
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="list-group">
              <input type="text" class="form-control list-group-item" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col">
            <div class="list-group">
              <a href="create_room" class="list-group-item list-group-item-action list-group-item-warning" style="display: none">Create room</a>
              <input type="text" class="form-control list-group-item" placeholder="Join room">
              <a href="admin" class="list-group-item list-group-item-action list-group-item-danger"style="display: none">Admin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$( document ).ready(function() {
  $("a:first-child").show(400, "swing")
  $("a:nth-child(2)").delay(100).show(400, "swing")
  $("a:last-child").delay(200).show(400, "swing")

});
</script>
{% endblock %}
