{% extends "base.htm" %}

{% block body %}ondragstart="return false;" ondrop="return false;"{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
{% endblock %}

{% block content %}
<div id="controls">
  <div id="slider"></div>
</div>
<div id="map">
  <img src="{{ url_for('static', filename='maps/map.png') }}">

  <div id="marker-1" class="marker"></div>
  <div id="marker-2" class="marker"></div>

  <div id="marker-1-s" class="marker-shadow"></div>
  <div id="marker-2-s" class="marker-shadow"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
