
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}"/>
  </head>
  <body>Ich lebe und atme und bin nicht tod.</body>
</html>