#centerframe {
  position: relative;
}

#ds-overlay {
  pointer-events: none;
  position: relative;
  left: 0px;
  top: 0px;
}

#map {
  position: absolute;
  left: 275px;
  top: 57px;
  width: 508px;
  height: 386px;
  overflow: scroll;
}

#map > * {
  position: absolute;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.slider {}

.marker {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #383838;
  background: #8d8d8d;
  cursor: grabbing;
}

.marker-shadow {
  @extend .marker;

  opacity: 0.3;
  filter: alpha(opacity=30);
}
