html, body {
  height: 100%;
  margin: 0;
  background-color: #323234;
}

#controls {
  position: relative;
  top: 2vh;
  height: 8vh;
  width: 100vw;
  max-height: 8vh;
  max-width: 100vw;
}

#map {
  position: relative;
  margin: 0 auto;
  overflow: auto;

  width: 100vh;
  height: 90vh;
}

#map > * {
  position: absolute;
}

#map > img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#slider {
  width: 20vw;
  margin: 0px auto;
}

.marker {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #383838;
  background: #8d8d8d;
  cursor: grabbing;
}

.marker-shadow {
  @extend .marker;

  opacity: 0.3;
  filter: alpha(opacity=30);
}
