<!DOCTYPE HTML>
<html lang="de">
<head>
  {% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Summon Someone</title>
  {% endblock %}
</head>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    <p class="text-center">&copy; Copyright 2018 by <a href="http://scriptoko.de">Paul Norberger</a>.</p>
    {% endblock %}
  </div>
</body>
</html>
