{% extends "base.htm" %}

{% block content %}
<h3><p class="text-center" style="margin-top: 25px">Ich bin ein...</p></h3>
<div class="container">
  <div class="row">
    <div class="col-sm border border-primary rounded">
      <h5 class="align-middle"><p class="text-center"><a href="overview">Wartender</a></p></h5>
    </div>
    <div class="col-sm border border-primary rounded">
      <h5 class="align-middle"><p class="text-center"><a href="organisation">Angestellter</a></p></h5>
    </div>
    <div class="col-sm border border-primary rounded">
      <h5 class="align-middle"><p class="text-center"><a href="admin">Admin</a></p></h5>
    </div>
  </div>
</div>
{% endblock %}
