<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <title>Vidya Map</title>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>{% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>{% block script %}
    {% endblock %}
  </body>
</html>