
{% extends "base.htm" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/interface.min.css') }}"/>{% endblock %}
{% block body %}
<div class="app">
  <div class="toolbar"></div>
  <div class="content">
    <div class="settings">Wow</div>
    <div class="map"><img src="{{ url_for('static', filename='maps/map.png') }}"/>
      <div id="marker-1" class="marker"></div>
      <div id="marker-2" class="marker"></div>
      <div id="marker-1-s" class="marker-shadow"></div>
      <div id="marker-2-s" class="marker-shadow"></div>
    </div>
  </div>
</div>{% endblock %}
{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/interface.js') }}"></script>{% endblock %}